@page
@model CreatePostModel
@{
    ViewData["Title"] = "Create a new post";
}

<h1>Create a new post</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Title</label>
        <input asp-for="Post.Title" class="form-control" />
        <span asp-validation-for="Post.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Content">Content</label>
        <textarea id="Content" asp-for="Post.Content" class="form-control"></textarea>
        <span asp-validation-for="Post.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Images">Images</label>
        <input type="file" name="UploadedImages" multiple class="form-control" />
    </div>
    <div class="form-group">
        <label for="GoogleMapsLink">Google Maps link</label>
        <input asp-for="Post.MapLink" class="form-control" />
        <span asp-validation-for="Post.MapLink" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="YouTubeLink">YouTube video link</label>
        <input asp-for="Post.VideoLink" class="form-control" />
        <span asp-validation-for="Post.VideoLink" class="text-danger"></span>
    </div>
    <input type="hidden" name="Post.UserId" value="@Model.UserId" />
    <button id ="custom-button" type="submit" class="btn btn-primary">Create post</button>

</form>


<!-- TinyMCE integration -->
<script src="https://cdn.tiny.cloud/1/@ViewData["TinyMCEApiKey"]/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#Content',
        plugins: 'link image lists table code',
        toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright | bullist numlist outdent indent | link image | code',
        height: 500
    });
</script>
