@page "{id:int}"
@model EditPostModel
@{
    ViewData["Title"] = "Edit your post";
}

<h1>Edit your post</h1>

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Post.Id" />
    <div class="form-group">
        <label for="Title">Title</label>
        <input asp-for="Post.Title" class="form-control" />
        <span asp-validation-for="Post.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Content">Content</label>
        <textarea id="Content" asp-for="Post.Content" class="form-control"></textarea>
        <span asp-validation-for="Post.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="GoogleMapsLink">Google Maps link</label>
        <input asp-for="Post.MapLink" class="form-control" />
        <span asp-validation-for="Post.MapLink" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="YouTubeLink">YouTube video link</label>
        <input asp-for="Post.VideoLink" class="form-control" />
        <span asp-validation-for="Post.VideoLink" class="text-danger"></span>
    </div>
    <h3>Current photos</h3>
    <div class="row">
        @foreach (var image in Model.Post.PostImages)
        {
            <div class="col-md-4 mb-4">
                <img src="@image.ImageUrl" class="img-fluid" alt="Zdjęcie">
                <button type="button" class="btn btn-danger mt-2" onclick="removeImage(@image.Id)">Delete</button>
            </div>
        }
    </div>

    <div class="form-group">
        <label for="Images">Add new images</label>
        <input type="file" name="UploadedImages" multiple class="form-control" />
    </div>

    <button type="submit" id="custom-button" class="btn btn-primary">Save changes</button>
</form>

<script src="https://cdn.tiny.cloud/1/@ViewData["TinyMCEApiKey"]/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#Content',
        plugins: 'link image lists table code',
        toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright | bullist numlist outdent indent | link image | code',
        height: 500
    });

    function removeImage(imageId) {
        fetch(`/ImageController/RemoveImage?id=${imageId}`, { method: 'DELETE' })
            .then(response => {
                if (response.ok) location.reload();
                else alert('Could not delete photo.');
            });
    }
</script>
